@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@font-face {
  font-family: 'WorkSans-Bold';
  src:  url('WorkSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'WorkSans-Medium';
  src:  url('WorkSans-Medium.woff') format('woff');
}


body {
  background-color: #FFFFFF;
  /* background: radial-gradient(farthest-corner at 40px 40px, #361AC5 -180%, #050506); */
  color: #1C1789;
}

.container {
  margin: 4vh 4vw;
  width: 92vw;
}

.header {
  width: 100%;
  margin-bottom: 2vh;
}

.logo {
  background-image: url('logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 5vh;
  width: 7vw;
}

.h1 {
  font-family: 'WorkSans-Bold', sans-serif;
  font-size: 128px;
  color: #1B18BE;
}

.cover {
  margin-bottom: 188px;
}

.cover .h1 {
  line-height: 90%
}

.cover :nth-of-type(2) {
  text-align: center;
}

.cover :nth-of-type(3) {
  text-align: right;
  margin-bottom: 64px;
}

.cover .text {
  width: 29.4vw;
  opacity: 0.7;
  float: right;
}

.h2 {
  font-family: 'WorkSans-Medium', sans-serif;
  font-size: 64px;
  margin-bottom: 32px;
}

.h3 {
  font-family: 'WorkSans-Medium', sans-serif;
  font-size: 48px;
}

.text {
  font-family: 'WorkSans-Medium', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 12px;
}

/* Стили колоды */
.decks {
  justify-content: space-between;
  display: flex;
  flex-direction: row;

  margin-bottom: 108px;
}

.deck {
  padding: 24px;
  background: radial-gradient(at bottom left, #1B1BBE, #050506);
  width: 27vw;
  height: 280px;
  border-radius: 16px;

  justify-content: end;
  display: flex;
  flex-direction: column;
}

.a_button {
  padding: 16px 32px;
  width: max-content;
  background: #61F2FF;
  border-radius: 40px;

  font-family: 'WorkSans-Medium', sans-serif;
  font-size: 24px;
  line-height: 100%;
}

.a_button a {
  font-family: 'WorkSans-Medium', sans-serif;
  font-style: normal;
  font-size: 24px;
  text-decoration: none;
  line-height: 100%;
  color: #FFFFFF;
}

.room {
  height: 80vh;
  width: 100%;
  border-radius: 32px;

  justify-content: space-between;
  display: flex;
}

.information {
  background-color: #2A1EFB;
  border-radius: 24px;
  padding: 2vw 2vw 1.5vw;
  height: max-content;
  margin-bottom: 32px;
}

.information .h3 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 8px;
}

.information .player {
  padding: 1px 16px 14px;
  border-radius: 11px;
  background: #1C17B9;
  margin-bottom: 8px;
}

.information .text {
  font-size: 22px;
  color: #fff;
}

.information .a_button {
  background-color: #2A1EFB;
  border: 2px solid #61F2FF;
  color: #61F2FF;
}

.about_player {
  background-color: #15149F;
  border-radius: 24px;
  padding: 2vw 2vw 1.5vw;
  height: max-content;
}

.about_player .h3 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 8px;
}

.information .player {
  padding: 1px 16px 14px;
  border-radius: 11px;
  background: #1C17B9;
  margin-bottom: 8px;
}

.information .text {
  font-size: 22px;
  color: #fff;
}

.information .a_button {
  background-color: #2A1EFB;
  border: 2px solid #61F2FF;
  color: #61F2FF;
}
