@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@font-face {
  font-family: 'WorkSans-Bold';
  src:  url('WorkSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'WorkSans-Medium';
  src:  url('WorkSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'WorkSans-Regular';
  src:  url('WorkSans-Regular.woff') format('woff');
}


body {
  background-color: #FFFFFF;
  /* background: radial-gradient(farthest-corner at 40px 40px, #361AC5 -180%, #050506); */
  color: #1C1789;


}

.container {
  margin: auto;
  padding: 32px 0;
  width: 1280px;
}

/*Atoms*/

.a_button-inline {
  padding: 14px 20px 16px;
  width: max-content;
  border: 2px solid #2A1EFB;
  border-radius: 32px;
}
.a_button-inline a{
  font-family: 'WorkSans-Medium', sans-serif;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  line-height: 100%;
  color: #2A1EFB;
}

.a_button-solid {
  padding: 14px 20px 16px;
  width: max-content;
  background: #EA0AFA;
  border-radius: 32px;
}
.a_button-solid a{
  font-family: 'WorkSans-Medium', sans-serif;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  line-height: 100%;
  color: #FFFFFF;
}


.a_header-1 {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 66px;
  line-height: 100%;
  margin: 0 0 48px;
}

.a_header-2 {
  font-family: 'WorkSans-Medium';
  font-size: 40px;
  line-height: 100%;

  margin: 0 0 32px;
  color: #2A1EFB;
}

.a_header-card {
  font-family: 'WorkSans-Medium';
  font-size: 38px;
  line-height: 100%;

  margin: 0 0 12px;
  color: #FFFFFF;
}

.a_header-description {
  font-family: 'WorkSans-Regular';
  font-size: 22px;
  line-height: 100%;

  color: #FFFFFF;
}

.a_text {
  font-family: 'WorkSans-Regular';
  font-size: 22px;
  line-height: 120%;
  color: #2A1EFB;

  text-decoration: none;
}


.header {
  width: 100%;
  margin-bottom: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  width: 456px;


  display: flex;
  justify-content: space-between;
}

.navbar a {
  font-family: 'WorkSans-Medium', sans-serif;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  line-height: 100%;
  color: #2A1EFB;
}

.a_logo {
  background-image: url('logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 32px;
  width: 162px;
}






.cover {
  width: 1280px;
  margin-bottom: 120px;

  display: flex;
  justify-content: space-between;
}

.f-col {
  width: 834px;
}

.s-col {
  width: 390px;
}

.f-col div {
  background-image: url('cover-girl-1');
  background-repeat: no-repeat;
  background-size: contain;
  height: 478px;
  width: 834px;
  border-radius: 32px;
}

.s-col div {
  background-image: url('cover-girl-2');
  background-repeat: no-repeat;
  background-size: contain;
  width: 390px;
  height: 390px;
  border-radius: 32px;
  margin: 0 0 32px;
}

.block {
  width: 1280px;
  margin-bottom: 120px;
}

.h2 {
  font-family: 'WorkSans-Medium', sans-serif;
  font-size: 64px;
  margin-bottom: 32px;
}

.h3 {
  font-family: 'WorkSans-Medium', sans-serif;
  font-size: 48px;
}

.text {
  font-family: 'WorkSans-Medium', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* Стили колоды */
.decks {
  justify-content: space-between;
  display: flex;
  flex-direction: row;

  width: 1280px;
}

.deck {
  background-repeat: no-repeat;
  background-size: contain;
  padding: 36px 34px 32px;
  width: 322px;
  height: 478px;
  border-radius: 32px;

  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.deck-manipulation {
  width: 322px;

  justify-content: space-between;
  display: flex;
  align-items: center;
}
.category {
  padding: 0px 12px 4px;
  border: 1px solid #E9E8FC;
  border-radius: 88px;

  font-family: 'WorkSans-Regular';
  font-size: 20px;
  line-height: 120%;

  color: #E9E8FC;
}

.room {
  height: 80vh;
  width: 100%;
  border-radius: 32px;

  justify-content: space-between;
  display: flex;
}

.information {
  background-color: #2A1EFB;
  border-radius: 24px;
  padding: 2vw 2vw 1.5vw;
  height: max-content;
  margin-bottom: 32px;
}

.information .h3 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 8px;
}

.information .player {
  padding: 1px 16px 14px;
  border-radius: 11px;
  background: #1C17B9;
  margin-bottom: 8px;
}

.information .text {
  font-size: 22px;
  color: #fff;
}

.information .a_button {
  background-color: #2A1EFB;
  border: 2px solid #61F2FF;
  color: #61F2FF;
}

.about_player {
  background-color: #15149F;
  border-radius: 24px;
  padding: 2vw 2vw 1.5vw;
  height: max-content;
}

.about_player .h3 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 8px;
}

.information .player {
  padding: 1px 16px 14px;
  border-radius: 11px;
  background: #1C17B9;
  margin-bottom: 8px;
}

.information .text {
  font-size: 22px;
  color: #fff;
}

.information .a_button {
  background-color: #2A1EFB;
  border: 2px solid #61F2FF;
  color: #61F2FF;
}


/*---*/

.deck.deck-1 {
  background-image: url('deck-1');
}
.deck.deck-2 {
  background-image: url('deck-2');
}
.deck.deck-3 {
  background-image: url('deck-3');
}
.deck.deck-4 {
  background-image: url('deck-4');
}
.deck.deck-5 {
  background-image: url('deck-5');
}
.deck.deck-6 {
  background-image: url('deck-6');
}
.deck.deck-7 {
  background-image: url('deck-7');
}
.deck.deck-8 {
  background-image: url('deck-8');
}

.categories {
  height: 854px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.category-button {
  border-color: #FFFFFF;
}
.category-button a{
  color: #FFFFFF;
}
.category-1 {
  width: 544px;
  height: 332px;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 36px 34px 32px;
  border-radius: 32px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-image: url('category-1');
}

.category-2 {
  width: 544px;
  height: 332px;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 36px 34px 32px;
  border-radius: 32px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-image: url('category-2');
}

.category-3 {
  width: 544px;
  height: 332px;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 36px 34px 32px;
  border-radius: 32px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-image: url('category-3');
}
